<form
  class="auth-form"
  id="new-blog-form"
  action="/auth/add-new-blog"
  method="POST"
>
  <div class="auth-form-container">
    <h1>NEW BLOG</h1>

    <label for="username">Title</label>
    <input type="text" name="title" id="title" required value="" />

    <label for="body">Body</label>
    <textarea name="body" id="body" required value=""></textarea>

    <label for="author">Author</label>
    <input type="text" name="author" id="author" value="" />

    <% if(error) { %>
    <p class="error-message"><%= error %></p>
    <% }%>

    <button class="saveBtn" type="submit">Save</button>
  </div>
</form>
