<form
  class="auth-form"
  id="new-blog-form"
  action="/admin/add-new-article"
  method="POST"
>
  <div class="auth-form-container">
    <div class="auth-form-container-title">
      <h1>New Article</h1>

      <div class="flex">
        <p>Public:</p>

        <label class="custom-checkbox">
          <input
            value="true"
            type="checkbox"
            name="public"
            id="public"
            checked
          />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <label for="username">Title</label>
    <input
      placeholder="type here"
      type="text"
      name="title"
      id="title"
      required
      value=""
    />

    <label for="body">Body</label>
    <textarea
      placeholder="type here"
      name="body"
      id="body"
      required
      value=""
      rows="6"
    ></textarea>

    <label for="author">Author</label>
    <input
      placeholder="type here"
      type="text"
      name="author"
      id="author"
      value=""
    />

    <h3>Optional:</h3>

    <label for="urlLink">Url:</label>
    <input
      placeholder="type here"
      type="text"
      name="urlLink"
      id="urlLink"
      value=""
    />

    <label for="username">Title url:</label>
    <input
      type="text"
      name="titleUrl"
      id="titleUrl"
      value=""
      placeholder="type here"
    />

    <% if(error) { %>
    <p class="error-message"><%= error %></p>
    <% }%>

    <button class="saveBtn" type="submit">Save</button>
  </div>
</form>
