<form action="/admin/check-reset-password/<%= userId %>" method="POST">
  <div class="verification-email-container">
    <h1>Reset password</h1>

    <!-- SUCCESS MESSAGE -->
    <% if(message) { %>

    <img
      class="verification-email"
      src="/img/reset-password-successfully.gif"
      alt="verification-successfully"
    />

    <p class="success-message"><%= message %></p>
    <div>
      <a href="/admin/login">
        <button class="authBtn" type="button">Log in</button>
      </a>
    </div>

    <% } else { %>

    <!-- DEFAULT FORM -->

    <% if(error) { %>
    <p class="error-message"><%= error %></p>
    <div c>
      <a href="/admin/forgot-password">
        <button class="authBtn" type="button">Forgot password</button>
      </a>
    </div>
    <% }else{ %>

    <div class="flex-start">
      <label for="password">New Password *</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Type in new Password"
        required
      />
    </div>
    <div class="flex-start">
      <button class="authBtn" type="submit">Save</button>
    </div>
    <% } %> <% } %>
  </div>
</form>
