<form class="auth-form" action="/admin/forgot-password" method="POST">
  <div class="auth-form-container">
    <h1>Forgot password</h1>
    <br />
    <br />

    <label for="email">Your email *</label>
    <input
      placeholder="Type in your email"
      style="background-color: black !important"
      type="email"
      name="email"
      id="email"
      required
    />

    <% if(error) { %>
    <p class="error-message"><%= error %></p>
    <% }%> <% if(message) { %>
    <p class="success-message"><%= message %></p>
    <% }%>

    <button class="authBtn" type="submit">Send</button>
  </div>
</form>
