<form class="auth-form" action="/admin/login" method="POST">
  <div class="auth-form-container">
    <h1>Log in</h1>
    <label for="email">Email *</label>
    <input
      style="background-color: black !important"
      type="email"
      name="email"
      id="email"
      required
    />

    <label for="password">Password *</label>
    <input type="password" name="password" id="password" required />
    <% if(error) { %>
    <p class="error-message"><%= error %></p>
    <% }%>

    <div class="flex">
      <button class="authBtn" type="submit">Login</button>
      <a href="/admin/forgot-password">Forgot password?</a>
    </div>
  </div>
</form>
