<form class="auth-form" action="/admin/reset-password" method="POST">
  <div class="auth-form-container">
    <h1>Reset password</h1>

    <label for="password">New Password *</label>
    <input
      type="password"
      placeholder="Type in new Password"
      name="password"
      id="password"
      required
    />
    <% if(error) { %>
    <p class="error-message"><%= error %></p>
    <% }%>

    <div class="flex">
      <button class="authBtn" type="submit">Save</button>
    </div>
  </div>
</form>
