<header class="header">
  <div class="header-container">
    <a href="/" class="header__logo">Blogs</a>

    <nav>
      <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Articles</a>

      <a class="<%= isActiveRoute('/about', currentRoute) %>" href="/about"
        >About</a
      >
      <a class="<%= isActiveRoute('/contact', currentRoute) %>" href="/contact"
        >Contact</a
      >
      <a
        class="<%= isActiveRoute('/auth/dashboard', currentRoute) %>"
        href="/auth/dashboard"
        >Admin</a
      >
    </nav>

    <div class="logout__container">
      <button type="submit" class="logoutBtn" aria-expanded="false">
        <a href="/auth/logout"> Log out </a>
      </button>
    </div>
  </div>
</header>
