<header class="header">
  <div class="header-container">
    <nav>
      <a href="/">Blog</a>
    </nav>
    <nav>
      <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Articles</a>
      <a class="<%= isActiveRoute('/about', currentRoute) %>" href="/about"
        >About</a
      >
      <a class="<%= isActiveRoute('/contact', currentRoute) %>" href="/contact"
        >Contact</a
      >
      <a
        class="<%= isActiveRoute('/auth/dashboard', currentRoute) %>"
        href="/auth/dashboard"
        >Admin</a
      >
    </nav>

    <div class="flex-container">
      <button class="searchBtn">Search</button>
      <!-- <div class="logout__container">
        <button type="submit" class="logoutBtn" aria-expanded="false">
          <a href="/auth/logout"> Log out </a>
        </button>
      </div> -->
    </div>
  </div>
</header>
