<header class="header">
  <div class="header-container">
    <a href="/" class="header__logo">Blogs</a>

    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/auth/login">Log in</a>
    </nav>

    <div class="header__button">
      <button class="searchBtn" aria-expanded="false">Search</button>
    </div>
  </div>
</header>
