<header class="header">
  <div class="header-container">
    <a href="/" class="header__logo">Blogs</a>

    <nav>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>

    <div class="logout__container">
      <button class="logoutButton" aria-expanded="false">Log out</button>
    </div>
  </div>
</header>
