<header class="header">
  <div class="header-container">
    <nav>
      <a class="header__logo" href="/">
        <img class="blog-icon" src="/img/blog-icon.webp" alt="logo" />
      </a>
    </nav>

    <a href="/admin/register">Register</a>
  </div>
</header>
