<header class="header">
  <div class="header-container">
    <a href="/" class="header__logo">Blogs</a>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/auth/dashboard">Admin</a>
    </nav>

    <div class="flex-container">
      <button class="searchBtn" aria-expanded="false">Search</button>
      <!-- <div class="logout__container">
        <button type="submit" class="logoutBtn" aria-expanded="false">
          <a href="/auth/logout"> Log out </a>
        </button>
      </div> -->
    </div>
  </div>
</header>
