<div class="search-bar">
  <div class="search-container">
    <form action="/search" class="search-form" role="search" method="POST">
      <input
        class="searchInput"
        type="search"
        name="searchTerm"
        aria-label="Search"
        placeholder="Search..."
        required
      />
      <button type="submit" class="search-btn">Search</button>
    </form>
    <button class="searchClose">X</button>
  </div>
</div>
