<h1>About</h1>
<section>
  <h3 id="about-me">Shorty about me :)</h3>

  <p>
    I am a front-end developer, passioned writing and developing useful tools
    which will enhance user's life in a particular way. With experience more
    than 3 years as employed ,I managed to develop more than 5 different
    projects 4 from scratch on front-end part and 1 mobile app on Android and
    IOS devices, also I have build during my free time some particular apps
    using different technologies. If you are interested which projects i will
    leave the list below :).
  </p>

  <p>
    &nbsp;&nbsp;During my career as a front-end web developer I have been using
    mostly the tools like: React.Js , Next.Js , TypeScript , Tailwind , Styled
    Components , Redux , React-hook-form , zod and many others.
  </p>

  <p>
    &nbsp;&nbsp;I am driven to improve my development skills and eager to new
    challenges.
  </p>
</section>

<div class="list-separator"></div>

<section>
  <h3 id="about-app">About this web application:</h3>

  <p>
    This web application is a blogging platform where you can create your own
    blog and share it with the world. You can also create your own account and
    log in to your account to manage your blog for example: create/delete/update
    or make it public or private.
  </p>

  <p>
    &nbsp;&nbsp;The main purpose why i made this app was to learn more about
    backend part which was made with mongoDB , express.js and node.js . Although
    I have been working almost always with React.js , Next.js and TypeScript,
    creating this app I learned how to use express.js and ejs and I can say that
    it was quite nostalgic for me to use pure JavaScript again :).
  </p>

  <p>
    &nbsp;&nbsp;In order to see its full potential , do not forget to create
    your own account and log in to manage your blog , see you there ;)!.
  </p>
</section>

<div class="list-separator"></div>
