<h1>About</h1>
<section>
  <h3 id="about-me">Shorty about me :)</h3>

  <p>
    I am a front-end developer, passioned about writing and developing useful
    tools which will enhance user's life in a particular way. I am driven to
    improve my development skills and eager to new challenges. With experience
    more than 3 years as being employed ,I managed to develop more than 5
    different projects 4 from scratch on front-end part and 1 mobile app on
    Android and IOS devices , also I have some particular web projects, if you
    are interested which projects I will leave the list below :).
  </p>

  <p>
    During my career as a front-end web developer I have been using mostly the
    tools like: React.Js , Next.Js , TypeScript , Tailwind , Styled Components ,
    Redux , React-hook-form , zod and many others.
  </p>
</section>

<div class="list-separator"></div>

<section>
  <h3 id="about-app">About this web application:</h3>

  <p>
    This web application is a blogging platform where you can create your own
    blog and share it with the world. You can also create your own account and
    log in to your account to manage your blog for example: create/delete/update
    or make it public or private. Also we have all Authentication functions as:
    Login , Register, Verification email , Reset password.
  </p>

  <p>
    The main purpose why i made this app was to learn more about backend part
    which was made with mongoDB , express.js and node.js . Although I have been
    working almost always with React.js , Next.js and TypeScript, creating this
    app I learned how to use express.js and ejs and I can say that it was quite
    nostalgic and challenging for me to use pure JavaScript again :).
  </p>
  <p>Why is so gray? I just love neutral colors :))</p>

  <p>
    In order to see its full potential , do not forget to create your own
    account and log in to manage your blog, But be patience as it could load
    about 30 seconds sometimes due to the web host :( see you there ;).
  </p>

  <h4>
    Technologies used: Node.js , Express.js , MongoDB , EJS , JWT , Bcrypt ,
    Nodemailer
  </h4>
</section>

<div class="list-separator"></div>
