<h1>About</h1>

<h3 id="about-me">Shorty about me :)</h3>

<p>
  I am a front-end developer, passioned writing and developing useful tools
  which will enhance user's life in a particular way. With experience more than
  3 years as employed I managed to develop more than 5 different projects 4 from
  scratch on front-end part and 1 mobile app on android and IOS devices, also I
  have build during my free time some particular apps using different
  technologies. If you are interested which projects i will leave the list below
  :).
</p>

<p>
  During my career as a front-end web developer ,as the most important and used
  tools and I have been working with technologies like: React.Js , Next.Js ,
  Tailwind , Styled Components , Redux , React-hook-form , zod and many others.
</p>

<p>I am driven to improve my development skills and eager to new challenges.</p>

<div class="list-separator"></div>

<h3 id="about-app">About this web application:</h3>

<p>
  This web application is a blogging platform where you can create your own blog
  and share it with the world. You can also create your own account and log in
  to your account to manage your blog for example: create/delete/update or make
  it public or private.
</p>

<p>
  The main purpose why i made this app is to learn more about backend part which
  is mongodb and node.js.Although I am working almost always with React.js and
  Next.js, I learned how to use express.js and ejs throught this app development
  and i can say that it was very nostalgic for me to use pure javascript again
  :).
</p>

<div class="list-separator"></div>
