<h1>About</h1>

<div class="list-separator"></div>

<section>
  <h3 id="about-app">About Dev-Blog:</h3>

  <p>
    This web application is a blogging platform where you can create your own
    blog and share it with the world. You can also create your own account and
    log in to your account to manage your blog for example: create/delete/update
    or make it public or private. Also we have all Authentication functions as:
    Login , Register, Verification email , Reset password.
  </p>

  <p>
    The main purpose why i made this app was to learn more about backend part
    which was made with mongoDB , express.js and node.js . Although I have been
    working almost always with React.js , Next.js and TypeScript, creating this
    app I learned how to use express.js and ejs and I can say that it was quite
    nostalgic and challenging for me to use pure JavaScript again :).
  </p>

  <p>
    In order to see its full potential , do not forget to create your own
    account and log in to manage your blog.
  </p>

  <h4>
    Technologies used: Node.js , Express.js , MongoDB , EJS , JWT , Bcrypt ,
    Nodemailer
  </h4>
</section>

<div class="list-separator"></div>
