<h1 class="contact-heading">Contact</h1>

<div class="contact-container">
  <div class="contact-flex">
    <h3>Email:</h3>
    <a href="mailto:alexleiba13@gmail.com">alexleiba13@gmail.com</a>
  </div>

  <div class="list-separator"></div>

  <div class="contact-flex">
    <h3>Github:</h3>
    <a href="https://github.com/AlexLeiba">https://github.com/AlexLeiba</a>
  </div>

  <div class="list-separator"></div>
  <div class="contactflex">
    <h3>LinkedIn:</h3>
    <a
      href="https://www.linkedin.com/in/alex-leiba-9205801ba?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
      >https://www.linkedin.com/in/alex-leiba-9205801ba?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app</a
    >
  </div>

  <div class="list-separator"></div>
</div>
