<div class="author">
  <h1 class="author__heading">Search Results</h1>

  <% if (data?.length === 0) { %>
  <p class="no-search-results-found">No results found</p>
  <% } %>
</div>

<section class="articles">
  <ul class="article-ul">
    <% data?.forEach(post => { %>
    <div>
      <li>
        <a href="/article/<%= post._id %>">
          <div>
            <span><%= post.title %></span>
            <p class="dashboard-author">Author: <%= post.author %></p>
          </div>

          <p class="created-date-time">
            Created date: <%= post.createdAt.toDateString() %>
          </p>
        </a>
        <div class="list-separator"></div>
      </li>
    </div>
    <% }) %>
  </ul>
</section>
