@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400,500,600,700;1,800;1,900&display=swap');

/* VARIABLES */
:root {
  --black: #1c1c1c;
  --gray: #7e7e7e;
  --gray-light: #e4e4e4;
  --white: #fff;
  --font-size-base: 1rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1.1rem;
  --font-size-lg: 1.2rem;
  --border-radius-base: 0.5rem;
  --red: rgb(215, 38, 38);
  --green: rgb(0, 153, 0);
  --background-web: #e6e6e6;
  --background-header: #aaa8a8;
}

/* LINKS RESET PROPERTIES */
a {
  color: inherit;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

h4 {
  margin: 0;
}

/* BUTTONS RESET PROPERTIES */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

/* BODY */
body {
  font-family: 'Faculty Glyphic', sans-serif;
  font-size: var(--font-size-base);
  background: linear-gradient(
    to bottom,
    rgba(73, 72, 72, 0.5),
    rgba(155, 155, 158, 0.5)
  );

  /* background-image: url('/img/img-noise-361x370.png'); */

  background-position: center;
  background-size: cover;
  margin: 0;
  box-sizing: border-box;
  overflow-y: auto;
}

/* CONTAINER */
.container {
  min-height: calc(100vh - 74px); /* 100vh - header height */
}

/* MAIN */
.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 20px 100px 20px;
}

/* FOOTER */

.footer {
  background-color: var(--background-header);
}
.footer-container {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-header);

  color: var(--white);
  max-width: 800px;
  padding: 0rem 2rem;
  height: 72px;
  text-align: center;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--background-header);
  z-index: 999;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 20px;
  max-width: 800px;
  margin: 0 auto;
  min-height: 56px;
}
.header-container a:hover {
  text-decoration: underline;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  text-decoration: none;
  border-bottom: transparent 1px solid;
  transition: border-bottom 0.3s ease-in-out;
}
.header nav a.active {
  text-decoration: underline;
  color: var(--white);

  transition: color 0.3s ease-in-out;
  transition: border-bottom 0.3s ease-in-out;
}
.header nav a:hover {
  text-decoration: underline;
}

/* Search button from header */
.searchBtn {
  padding: 0.5rem 1rem;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--border-radius-base) !important;
  border: var(--black) 1px solid;

  transition: border 0.3s ease-in-out;
}
.searchBtn:hover {
  padding: 0.5rem 1rem;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--border-radius-base) !important;
  border: var(--white) 1px solid;

  transition: border 0.3s ease-in-out;
}

.searchInput {
  @media (max-width: 768px) {
    font-size: 18px;
    width: 180px;
  }
}
.search-form {
  @media (max-width: 768px) {
    font-size: 18px;
    width: 180px;
  }
}
/* HEADER END */

/* INPUTS */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
select,
textarea {
  font-family: 'Faculty Glyphic', sans-serif;
  font-size: var(--font-size-base);
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius-base);
  margin-bottom: 1rem;
  background-color: var(--black) !important;
  color: var(--white);
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}

/* Reset styles for autofilled inputs */
input:-webkit-autofill {
  -webkit-box-shadow: none !important; /* Change 'white' to your desired background color */
  -webkit-text-fill-color: var(
    --white
  ) !important; /* Change to your desired text color */
  background-color: var(--black) !important; /* or any specific color */
  color: var(--white) !important; /* Reset text color */
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s; /* Prevents background from changing on focus */
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
select:focus,
textarea:focus,
input[type='text']:hover,
input[type='email']:hover,
input[type='password']:hover,
select:hover,
textarea:hover {
  outline: none;
  box-shadow: none;
  border: var(--white) 1px solid;
  background-color: var(--black) !important;
}

input[type='checkbox'] {
  background-color: var(--black) !important;
  padding: 0.5rem;
  height: 1.6rem;
  width: 1.6rem;
}
/* INPUTS END */

/* ARTICLES DASHBOARD */
.btn {
  background-color: var(--black);
  border: none;
  color: var(--white);
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.hero-image {
  max-height: 25rem;
  object-fit: cover;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: 1rem;
}

.author {
  padding: 0;
  text-align: center;
}

.author__heading {
  margin: 1rem 0 1rem 0;
}

.author__body {
  font-size: var(--font-size-md);
}

.articles__heading {
  margin-top: 4rem;
}

.articles .article-ul li a,
.articles .dashboard-blogs li a {
  text-decoration: none !important;
}

.article-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: clamp(1.13rem, cal(1.08rem + 0.22vw), 1.25rem);
  display: flex;
  flex-direction: column;
  color: var(--black);
  transition: color 0.3s ease-in-out;
}
.article-ul li:hover {
  color: var(--white);
  transition: color 0.2s ease-in-out;
}

.article-list-date {
  font-size: var(--font-size-sm);
  color: var(--gray);
  width: 10rem;
}

.list-separator {
  width: 100%;
  height: 1px;
  background-color: var(--gray-light);
  margin: 0.5rem 0 2rem 0;
}

.article-ul li a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: end;
}
/* ARTICLES DASHBOARD END */

/* SEARCH BAR */
.search-bar {
  visibility: hidden;
  transform: translateY(-200px);
  background-color: var(--black);
  padding: 1rem;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
}

.search-form {
  display: flex;
  align-items: center;
}

.no-search-results-found {
  color: var(--white);
}

.open {
  visibility: visible;
  transform: translateY(-100px);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
}

.search-bar input {
  margin: 0;
  padding: 0;
}

.searchClose {
  padding: 0.6rem 1rem;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--border-radius-base) !important;
  border: var(--black) 1px solid;

  transition: border 0.3s ease-in-out;
}
.searchClose:hover {
  padding: 0.6rem 1rem;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--border-radius-base) !important;
  border: var(--white) 1px solid;
  transition: border 0.3s ease-in-out;
}

.search-container {
  max-width: 800px;
  position: relative;
  margin: 0 auto;
}

.search-container div {
  display: flex;
  justify-content: space-between;
}

/* Search bn from search bar */
.search-btn {
  padding: 0.6rem 1rem;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--border-radius-base) !important;
  border: var(--black) 1px solid;
  margin-left: 1rem;

  transition: border 0.3s ease-in-out;
}
.search-btn:hover {
  padding: 0.6rem 1rem;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--border-radius-base) !important;
  border: var(--white) 1px solid;
  margin-left: 1rem;

  transition: border 0.3s ease-in-out;
}

input[type='search'] {
  box-shadow: none;
  outline: none;
  padding: 0.8rem;
  text-decoration: none;
  border: var(--white) 1px solid;
  border-radius: var(--border-radius-base);
}

.flex-container {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  width: 100%;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}

/* SEARCH BAR END */

/* PAGINATION */

.pagination-container {
  text-decoration: none;
  color: var(--gray);
  font-size: var(--font-size-md);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.pagination {
  position: relative;
  text-decoration: none;
  color: var(--gray);
  font-size: var(--font-size-md);
  margin-bottom: 1rem;
  transition: color 0.3s ease-in-out;
  border-bottom: transparent 1px solid;
  transition: border-bottom 0.3s ease-in-out;
  animation: line-move 0.5s ease-in-out;
}
/* .pagination:hover {
  color: var(--gray);
  font-size: var(--font-size-md);
  margin-bottom: 1rem;
  text-decoration: none;
  border-bottom: var(--white) 1px solid;
  transition: border-bottom 0.3s ease-in-out;
  animation: line-move 0.5s ease-in-out;
} */

.pagination-container .underline {
  width: 0%;
  background-color: var(--white);
  height: 1px;
  transition: width 0.2s ease-in-out;
  z-index: 999;
}

.pagination-container .pagination:hover .underline {
  width: 100%;
}

/* ADMIN APP///////////////////////////////////////////////

/* DASHBOARD */
.btn-delete {
  background-color: var(--red);
  border: none;
  color: var(--white);
  padding: 1rem 1.6rem;
  text-decoration: none;
  cursor: pointer;
}

/* DASHBOARD */
.dashboard-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-title div {
  @media (max-width: 768px) {
    width: 60%;
  }
}

.dashboard-blogs {
  padding: 0;
}

.dashboard-blogs li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0.5rem;
}

.dashboard-author {
  color: var(--gray);
  font-size: var(--font-size-sm);
  padding: 0;
  margin: 0;
}

.created-date-time {
  color: var(--white);
  font-size: 0.6rem;
  text-decoration: none;
  font-weight: 300;
}

.dashboard-blogs li .edit-delete-btns {
  display: flex;
  gap: 0.5rem;
}

.public-label {
  font-size: 0.6rem;
  color: var(--white);
}

.dashboard-blogs li .edit-delete-btns .edit {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--gray);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-base);
  color: var(--white);
  font-size: var(--font-size-sm);

  border: var(--gray) 1px solid;
  transition: border 0.3s ease-in-out;
}
.dashboard-blogs li .edit-delete-btns .edit:hover {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--gray);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-base);
  color: var(--white);
  font-size: var(--font-size-sm);

  border: var(--white) 1px solid;
  transition: border 0.3s ease-in-out;
}

.dashboard-blogs li .edit-delete-btns .delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--black);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-base);
  color: var(--white);
  font-size: var(--font-size-sm);
  border: none;
  cursor: pointer;

  border: var(--black) 1px solid;
  transition: border 0.3s ease-in-out;
}
.dashboard-blogs li .edit-delete-btns .delete:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--black);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-base);
  color: var(--white);
  font-size: var(--font-size-sm);
  border: none;
  cursor: pointer;

  border: var(--white) 1px solid;
  transition: border 0.3s ease-in-out;
}

.dashboard-blog {
  padding: 0;
  width: 100%;
}

.addPostButton {
  color: var(--black);

  transition: color 0.3s ease-in-out;
}

.addPostButton:hover {
  color: var(--white);
  transition: color 0.3s ease-in-out;
}
/* DASHBOARD END */

/* AUTH FORM */
.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-form-container {
  width: 100%;
}

.error-message {
  color: var(--red);
  font-weight: 400;
}

.success-message {
  color: var(--green);
  font-weight: 400;
}

.saveBtn {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1.5rem;
  color: var(--black);
  font-size: var(--font-size-sm);
  border: var(--black) 1x solid !important;
  border-radius: var(--border-radius-base) !important;
  background-color: var(--white);
  font-weight: 500;

  transition: background-color 0.3s ease-in-out;
}

.saveBtn:hover {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1.5rem;
  border-radius: var(--border-radius-base) !important;
  border: var(--white) 1px solid;
  color: var(--white);
  font-size: var(--font-size-sm);

  background-color: var(--gray);
  font-weight: 500;

  transition: background-color 0.3s ease-in-out;
}

.logoutBtn:hover,
.authBtn:hover {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1.5rem;
  border-radius: var(--border-radius-base) !important;
  border: var(--white) 1px solid;
  color: var(--white);
  font-size: var(--font-size-sm);

  background-color: var(--black);
  font-weight: 500;

  transition: background-color 0.3s ease-in-out;
}
.logoutBtn,
.authBtn {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1.5rem;
  color: var(--black);
  font-size: var(--font-size-sm);
  border: var(--black) 1px solid !important;
  border-radius: var(--border-radius-base) !important;
  background-color: var(--gray-light);
  font-weight: 500;

  transition: background-color 0.3s ease-in-out;
}

.logoutBtn a {
  color: inherit;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.auth-form-container-title {
  display: flex;
  justify-content: space-between;
  align-items: c;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Custom checkbox */
.custom-checkbox input {
  display: none;
}

/* Create a custom checkbox */
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

/* Style the custom checkmark */
.checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid var(--white);
  border-radius: 4px;
  position: relative;
  margin-right: 10px;
}

/* Change the color when checked */
.custom-checkbox input:checked + .checkmark {
  background-color: var(--black); /* Background color when checked */
  border-color: var(--white); /* Border color when checked */
}

/* Checkmark icon */
.checkmark::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid var(--white); /* Color of the checkmark icon */
  border-width: 0 2px 2px 0; /* Adjust thickness of the checkmark */
  transform: rotate(45deg); /* Rotate to form a checkmark */
  opacity: 0; /* Hide checkmark initially */
}

/* Show the checkmark when checked */
.custom-checkbox input:checked + .checkmark::after {
  opacity: 1; /* Show checkmark */
}
/* AUTH FORM END */

.urlLink {
  margin-top: 2rem;
  font-size: var(--font-size-md);
  border-bottom: #1c1c1c 1px solid;
  font-weight: 600;
}

.article-separator {
  margin-top: 2rem;
  width: 100%;
  height: 1px;
  background-color: var(--white);
}

.link-spacer {
  margin-top: 2rem;
}

.flex-admin-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  @media (max-width: 768px) {
    display: block;
  }
}
.flex-admin-form div {
  width: 100%;
}

/* HAMBURGER LINES*/
.hamburger {
  display: none;
  @media (max-width: 768px) {
    cursor: pointer;
    width: 40px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;

    display: block;
  }
}

.hamburger-lines {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  display: block;
  width: 40px;
  height: 4px;
  background-color: var(--black);
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover .line {
  background-color: var(--white);
}

.hamburger.active .line1 {
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.active .line2 {
  opacity: 0;
}

.hamburger.active .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* HAMBURGER MENU LIST */
.hamburger_menu {
  display: none;
  @media (max-width: 768px) {
    /* change display from script.js */
    display: block;
    position: absolute;
    top: -100vh;
    right: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(
      10px
    ); /* Vendor prefix for better iOS support */
    width: 100%;

    text-align: center;
    color: var(--black);
    box-shadow: 0px 14px 15px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
  }
}
.hamburger_menu_open {
  @media (max-width: 768px) {
    /* change display from script.js */
    display: block;
    position: absolute;
    top: 72px;
    right: 0;
    backdrop-filter: blur(20px);
    width: 100%;
    z-index: 99;

    text-align: center;
    color: var(--black);
    box-shadow: 0px 14px 15px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
  }
}

.hamburger_menu nav {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container .nav_links {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

/* END HAMBURGER */

.article-body {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-decoration: none;
}
.article-body a {
  text-decoration: underline !important;
  font-weight: 600;
}
section ul li a {
  text-decoration: underline !important;
  font-weight: 600;
}

.article-posted-info {
  font-size: var(--font-size-sm);
  color: var(--white);
  padding: 0;
  margin: 0;
}
.article-posted-container {
  display: flex;
  justify-content: space-between;
}

.contact-container a {
  color: var(--white);
  text-decoration: underline;
  overflow-wrap: break-word;
  margin: 0;
}

.contact-container h3 {
  display: inline-block;
  margin: 0;
}
.contact-container .contact-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

#about-me,
#about-app {
  color: var(--white);
}

.dashboard-blogs h3 {
  line-height: 1.5rem;
}

.articles h4 {
  line-height: 1.5rem;
}

.verification-email {
  width: 200px;
}

.verification-email-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.admin-name {
  font-size: var(--font-size-sm);
}

.blog-icon {
  width: 36px;
  /* height: 20px; */
}

.header__logo {
  height: 36px;
}
